@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: #317773;
  overflow-x: hidden;
}

section {
  padding: 1rem 7%;
}

.heading {
  text-decoration-line: underline;  
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: #FF5100;
  text-transform: uppercase;
  font-size: x-large;
}

.btn {
  margin-top: 1rem;
  border-radius: 15px;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 2rem;
  
  color: #fff;
  background:  #FF5100;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}


.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgb(0 0 0 / 90%), rgba(235, 230, 230, 0.35)),
    url(https://i.ibb.co/LCpRxmb/cytonn-photography-n95-VMLxq-M2-I-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  text-align: right;
  max-width: 160rem;
}

.home span {
  text-align: right;
  color: #ffc107;
  text-transform: uppercase;
}

.home .content h3 {
  text-align: right;
  font-size: 8rem;
  text-transform: uppercase;
  color: #fff;
}
.home .content h4 {
  text-align: right;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  text-align: right;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about .row {
  display: flex;
  align-items: center;
  background: black;
  flex-wrap: wrap;
}

.about .row .image {
  flex:  45rem;
}

.about .row .image img {
  width: 100%;
  
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.menu .box-container .box {
  padding: 2rem;
  text-align: center;
  background: black;
  border-radius: 1.5rem;
  /* border: 0.2rem solid #30ff07; */
}

.menu .box-container .box img {
  height: 8rem;
  border-radius: 50%;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}
.menu .box-container .box p {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 0;
}

.menu .box-container .box .trend {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.menu .box-container .box .trend span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: lighter;
}

.menu .box-container .box:hover {
  background: green;
  transition: 0.5s;
}


.footer {
  background: #13131a;
  text-align: center;
  padding: 5rem 0;
 
}


.footer .share {
  padding: 2rem 0;
  height: 8rem;
}


.footer .share a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1rem;
  font-size: 2rem;
  color: #fff;
  border: 0.2rem solid #ffc107;
  margin: 0.3rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.footer .share a:hover {
  background-color: #ffc107;
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: 0.2rem solid #ffc107;
  font-size: 2rem;
}

.footer .links a:hover {
  background: #ffc107;
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1rem;
}

.footer .credit span {
  color: #ffc107;
}

   

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #000;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.btn {
  margin-top: 1rem;
  border-radius: 15px;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 2rem;
  color: #fff;
  background:  #FF5100;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}